<!DOCTYPE html>
<html lang="en">

<head>
    <title>PayUCoupons</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon/favicon.ico" />
    <link href="/css/backTop.css" rel="stylesheet" type="text/css" />
    <link href="/css/autocomplete.css" rel="stylesheet" type="text/css" />
    <link href="/css/flexslider.css" rel="stylesheet" type="text/css" />
    <link href="/css/demo.css" rel="stylesheet" type="text/css" />
    <link href="/css/lobibox.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/css/custom.css">
    <link rel="stylesheet" type="text/css" href="/css/fonts.css">
    <link rel="stylesheet" type="text/css" href="/css/megafolio/css/settings.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/css/megafolio/fancybox/jquery.fancybox.css?v=2.1.3" />
</head>

<body ng-app="PayUCouponApp">
    <div class="row">
        <div class="col-lg-12">
            {{#if success_msg}}
            <div class="alert alert-success">{{success_msg}}</div>
            {{/if}} {{#if error_msg}}
            <div class="alert alert-danger">{{error_msg}}</div>
            {{/if}} {{#if error}}
            <div class="alert alert-danger">{{error}}</div>
            {{/if}}
        </div>
    </div>
 
    <!-- NAVBAR ================================================== -->
    {{> _header }}
    <!-- BANNER ================================================== -->
    {{!-- @*@Html.Partial("_BannerPartial")*@ --}}
    <!-- ADVANCED SEARCH ========================================= -->
    {{> _advanced }}
    <!-- RANDOM DEALS ================================================== -->
    {{> _random_deals}}
    <!-- RANDOM DEALS ================================================== -->
    @Html.Partial("_TopStoresPartial")

    <!-- TWO PART ====================================================== -->
    <div class="index-deals firstpg white">
        <div class="container">
            <div class="row">
                <!-- LEFT COLUMN ================================================== -->
                @Html.Partial("_LeftColumnPartial")
                {{{body}}}
                <!-- RIGHT COLUMN ================================================== -->
                @Html.Partial("_RightColumnPartial")
            </div>
        </div>
    </div>
    <!-- NEWSLETTER ================================================== 	-->
    @Html.Partial("_NewsLetterPartial")
    <!-- OVERVIEW ================================================== 	-->
    @*@Html.Partial("_OverviewPartial")*@
    <!-- GALLERY ================================================== 	-->
    @*@Html.Partial("_GalleryPartial")*@
    <div class="clear"></div>
    <!-- ANY-TEXT ================================================== 	-->
    @*@Html.Partial("_AnyTextPartial")*@
    <!-- CONTACT  ================================================== 	-->
    @*@Html.Partial("_ContactPartial")*@
    <!-- Google Maps  ================================================== -->
    @*@Html.Partial("_MapPartial")*@
    <!-- CREDITS  ====================================================== -->
    @Html.Partial("_CreditsPartial")
    <!-- FOOTER ================================================== 	-->
    {{> _footer }}
    <div class="modal" id="modal-couponcode">
        <div id='myModalContent'>
        </div>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery-1.11.1.min.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/jquery.validate.unobtrusive.min.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
     <script src="Scripts/html5shiv.js"></script>
     <script src="Scripts/respond.min.js"></script>
    <![endif]-->
    <!-- <script src="Scripts/d3.min.js"></script>
    <script src="Scripts/c3.min.js"></script> -->
    <script src="/js/megafolio/Scripts/jquery.themepunch.tools.min.js"></script>
    <script src="/js/megafolio/Scripts/jquery.themepunch.megafoliopro.js"></script>
    <script src="/js/megafolio/fancybox/jquery.fancybox.pack.js"></script>
    <script src="/js/megafolio/fancybox/helpers/jquery.fancybox-media.js"></script>



    <script src="/js/jquery.flexslider-min.js"></script>
    <script src="/js/bootstrap-progressbar.min.js"></script>
    <script src="/js/jquery.backstretch.min.js"></script>
    <script src="/js/jquery.countTo.js"></script>
    <script src="/js/jquery.timeTo.min.js"></script>
    <script src="/js/jquery.circliful.min.js"></script>
    <script src="/js/jquery.smartmenus.js"></script>
    <script src="/js/jquery.smartmenus.bootstrap.js"></script>
    <script src="/js/wow.min.js"></script>
    <script src="/js/waypoints.min.js"></script>
    <script src="/js/animatescroll.js"></script>
    <script src="/js/jquery.easy-ticker.min.js"></script>
    <script src="/js/jquery.backTop.min.js"></script>
    <script src="/js/lightslider.js"></script>


    <script src='/js/angularjs/angular.js'></script>
    <script src='/js/angularjs/angular-animate.min.js'></script>
    <script src='/js/angularjs/angular-route.min.js'></script>
    <script src='/js/angularjs/angular-aria.min.js'></script>
    <script src='/js/angularjs/angular-messages.min.js'></script>
    <script src='/js/angularjs/svg-assets-cache.js'></script>
    <script src='/js/angularjs/angular-material.js'></script>
    <script src="/js/angularjs/angular-sanitize.min.js"></script>
    <script src="/js/custom.js"></script>


    <script src="/js/dirPagination.js"></script>
    <script src="/js/demo.js"></script>
    <script src="/js/clipboard.min.js"></script>
    <script src="/js/clipboardCustom.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/scripts.js"></script>


    <script src="/js/lobibox.js"></script>
</body>

</html>